<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success">Nouvelle Recette</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <a
        href="#"
        class="list-group-item clearfix"
        *ngFor="let recette of recettes">
        <div class="pull-left">
          <h4 class="list-group-item-heading">{{ recette.name }}</h4>
          <p class="list-group-item-text">{{ recette.description }}</p>
        </div>
        <span class="pull-right">
          <img
            [src]="recette.imagePath"
            alt="{{ recette.name }}"
            class="img-responsive"
            style="max-height: 50px;">
        </span>
      </a>
      <app-recette-items></app-recette-items>
    </div>
  </div>
  
  